Body {
  background-image: url('https://wallpaperaccess.com/full/7285.jpg');
  backgroud-size: auto 100vh;
  height: 100vh;
  
}

.menu {   
  Background-color: white;
  font-family: Arial;
} 

.menu ul {
  display: flex;
  justifY-content: space-around;
}

.menu li {
  list-style: none;
}

a {
  color: teal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-Subtitle,
.site-title {
  text-align: center;
  color: darkBlue;
  font-family: arial
}

.site-Subtitle {
  font-style: italic;
}