Body {
    background-image: url('https://i.pinimg.com/originals/14/ba/4f/14ba4fd010262c4ae2260478f846c5e0.jpg');
    backgroud-size: auto 100vh;
    height: 100vh;
    font-family: arial;
  }
  
  .menu {
    Background-color: white;
  } 
  
  .menu ul {
    display: flex;
    justifY-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }
  
  a {
    color: teal;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .site-Subtitle,
  .site-title {
    text-align: center;
    color: whitesmoke;
  }
  
  .site-Subtitle {
    font-style: italic;
  }